@using Smadot.Models.Dicts;
@inject Smadot.Utilities.GestionTokens.IUserResolver UserResolver
@model Smadot.Models.Entities.Instalaciones.Response.InstalacionResponseData.InstalacionResponse
@if (UserResolver.HasPermission(MenuInstalaciones.Detalle))
{
    <a class="btn btn-sm btn-secondary btnDetalle btn-text-primary btn-hover-primary btn-icon mr-2" data-id="@Model.IdInstalacion" title="Detalle">
        <i class="bi bi-eye"></i>
    </a>
}