@using Smadot.Models.Dicts;
@using Smadot.Models.Entities.DevolucionSPF.Response;
@inject Smadot.Utilities.GestionTokens.IUserResolver UserResolver
@model ListDevolucionSPFResponse
<div class="btn-group dropup drop-up dropdown">
    @*<a href="javascript:;" class="btn btn-sm btn-secondary btn-text-primary btn-hover-primary btn-icon mr-2" data-bs-toggle="dropdown">
    <i class="bi bi-three-dots"></i>
    </a>
    <ul class="dropdown-menu">
    <li><h6 class="dropdown-header">Selecciona una acción:</h6></li>

    <li class="btnDetalle" data-id="@Model.Id">
    <label class="dropdown-item">
    <span class="navi-icon"><i class="bi bi-zoom-in"></i></span>
    <span class="navi-text">Detalle</a></span>
    </label>
    </li>

    </ul>*@
    @if (UserResolver.HasPermission(MenuDevolucionaSPF.Detalle))
    {
        <a data-id="@Model.Id" class="btn btn-sm btn-secondary btn-text-primary btn-hover-primary btn-icon mr-2 btnDevolucionSPFDetalle" title="Detalle">
            <i class="bi bi-search"></i>
        </a>
    }
</div>