<form role="form" id="form_reagendar" class="clearfix">
    <div class="row mb-5">
        <div class="col-md-12 col-12">
            <div class="form-group">
                <h5>Seleccione el centro de atención</h5>
                <hr />
            </div>
        </div>
        <div class="fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid mb-5">
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <label class="control-label">Centro de Atención</label>
                </div>
                <div class="col-lg-12">
                    <select class="form-control form-select" asp-items="(List<SelectListItem>)ViewBag.CentroAtencion" name="IdCentroAtencion" id="IdCentroAtencion">
                        <option value="">Seleccione...</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col-md-12 col-12 step2">
            <div class="form-group">
                <h5>Seleccione la fecha y hora de la cita</h5>
                <hr />
            </div>
        </div>
        <div class="fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid mb-5 step2" id="DivStep2">
            <partial name="~/Views/PortalCitas/_Step2DateHour.cshtml" model="string.Empty" />
        </div>
    </div>
</form>