<div class="row">
    <div class="col-sm-12" style="background-color:gray">
        <iframe id="inlineFrameExample"
            title="Inline Frame Example"
            width="300"
            height="200">
        </iframe>
        <h6 id="sr" style="display:none">Screenshot return</h6>
        <h6 id="zu" style="display:none">Zoom Up return</h6>
        <h6 id="zd" style="display:none">Zoom Down return</h6>
    </div>
    <div class="col-sm-12" style="padding-top:8px">
        <button type="button" class="btn btn-success btn-sm font-weight-bold" id="ScreenShot">Tomar Fotografía</button>
        <button type="button" class="btn btn-secondary btn-sm font-weight-bold" id="ZoomUp">Zoom +</button>
        <button type="button" class="btn btn-secondary btn-sm font-weight-bold" id="ZoomDown">Zoom -</button>
    </div>
</div>
