@model Smadot.Models.Entities.DirectorioCentrosVerificacion.Response.DiaNoLaboralResponse

<div class="btn-group dropup drop-up dropdown">
    <a href="javascript:;" class="btn btn-sm btn-secondary btn-text-primary btn-hover-primary btn-icon mr-2" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots"></i>
    </a>
    <ul class="dropdown-menu">
        <li><h6 class="dropdown-header"></h6></li>
        <li>
            <a href="javascript:;" class="btnDiaNoLaboralDelete" data-id="@Model.Id">
                <label class="dropdown-item">
                    <span class="navi-icon"><i class="bi bi-trash"></i></span>
                    <span class="navi-text">Eliminar</span>
                </label>
            </a>
        </li>
    </ul>
</div>
