<div class='py-2 px-0 col-md-12'>
    <form role='form' class='clearfix' id="form_registroDNL">
        <div class="row">
            <div class="row col-md-8">
                <label class="col-md-3" for="fechaRegistro">Fecha: &nbsp;<strong class="obligatorio">*</strong></label>
                <div class="position-relative col-md-9">
                    <input class="form-control" id="Fecha" name="Fecha" type="text" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center position-relative my-1 justify-content-end">
                    <a class="btn btn-sm fw-bold btn-primary btnSaveNewFecha" id="btnSaveNewFecha">Guardar </a>
                </div>
            </div>
        </div>
        
    </form>
</div>