@using Smadot.Models.Dicts;
@inject Smadot.Utilities.GestionTokens.IUserResolver UserResolver
@model Smadot.Models.Entities.Reportes.Response.ReporteTercerTantoResponseData.ReporteTercerTantoResponse
@if (UserResolver.HasPermission(MenuReporteTercerTanto.Detalle))
{
    <a class="btn btn-sm btn-secondary btnDetalle btn-text-primary btn-hover-primary btn-icon mr-2" data-id="@Model.Id" title="Detalle">
        <i class="bi bi-eye"></i>
    </a>
}