################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gateway/obj
/Gateway/bin
/Smadot.Autenticacion.api/bin
/Smadot.Autenticacion.api/obj
/Smadot.Autenticacion.Model/bin
/Smadot.Autenticacion.Model/obj
/Smadot.Autenticacion.Negocio/obj
/Smadot.FrontEnd/bin
/Smadot.FrontEnd/obj
/Smadot.Gateway/bin
/Smadot.Gateway/obj
/Smadot.Models/bin
/Smadot.Models/obj
/Utilities/bin
/Utilities/obj
/.vs/Smadot/DesignTimeBuild
/.vs/Smadot/v17
/.vs
/Smadot.SolicitudFormaValorada.api/bin
/Smadot.SolicitudFormaValorada.api/obj
/Smadot.SolicitudFormaValorada.model/bin
/Smadot.SolicitudFormaValorada.model/obj
/obj/Docker
/bin/Debug
/obj/Debug/docker-compose.dcproj.AssemblyReference.cache
/obj/Debug
/Smadot.Web/bin
/Smadot.Web/obj
/Smadot.Catalogo.Api/bin
/Smadot.Catalogo.Api/obj
/Smadot.Catalogo.Model/obj
/Smadot.Catalogo.Model/bin
/Smadot.Caja.Api/bin
/Smadot.Caja.Api/obj
/Smadot.Caja.Model/bin
/Smadot.Caja.Model/obj
/Smadot.IngresoFormaValorada.Api/bin
/Smadot.IngresoFormaValorada.Api/obj
/Smadot.IngresoFormaValorada.Model/bin
/Smadot.IngresoFormaValorada.Model/obj
/Smadot.Gateway/Properties/launchSettings.json
/Smadot.Web/Properties/launchSettings.json
/Smadot.Autenticacion.api/Properties/launchSettings.json
/Smadot.Gateway/Properties/launchSettings.json
/Smadot.Web/Properties/launchSettings.json
/Smadot.Web/Properties/launchSettings.json
/Smadot.Venta.Model/obj
/Smadot.Venta.Api/obj
/Smadot.Venta.Api/bin
/Smadot.Venta.Model/bin
/Smadot.Testing.Backend/bin
/Smadot.Testing.Backend/obj
/Smadot.Testing.BackendError2022-12-22.log
/Smadot.DirectorioCentrosVerificacion.Api/obj
/Smadot.DirectorioCentrosVerificacion.Api/bin
/Smadot.DirectorioCentrosVerificacion.Model/bin
/Smadot.DirectorioCentrosVerificacion.Model/obj
/*.vshistory
*.vshistory
*/.vshistory
.vshistory

*/obj
*/bin

.vscode/*
/obj/docker-compose.dcproj.EntityFrameworkCore.targets
