@using Smadot.Models.Dicts;
@inject Smadot.Utilities.GestionTokens.IUserResolver UserResolver
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_LayoutSmadot.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/lib/datatable/dist/css/dataTables.bootstrap4.min.css" />
    <style>
        input:read-only {
            pointer-events: none;
            background: var(--kt-input-disabled-bg);
        }

        .select2-selection__rendered {
            line-height: 50px !important;
        }

        .select2-container .select2-selection--single {
            height: 44px !important;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
}

@section breadcrumb{
    <li class="breadcrumb-item">
        <a href="#" class="text-muted text-hover-primary">Administración CVV</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item">
        <a href="#" class="text-muted text-hover-primary">Configuración</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="active">@ViewData["Title"]</li>
}

@section toolbar{
    @if (UserResolver.HasPermission(MenuUsuarios.Registrar))
    {
        <button class="btn btn-sm fw-bold btn-primary" type="button" id="btnRegistro">Registrar</button>
    }
}

<partial name="~/Views/Shared/_ModalRegistro.cshtml" model="string.Empty" />

<div class="row">
    <!--begin::Col-->
    <div class="col-md-12">
        <!--begin::List widget 1-->
        <div class="card card-flush h-lg-100">
            <!--begin::Body-->
            <div class="card-body pt-5">
                <div class="bottom-buffer">
                    <div class="datatable datatable-bordered datatable-head-custom">
                        <table class="table table-striped gx-7" id="kt_datatable" ></table>
                    </div>
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::LIst widget 1-->
    </div>
    <!--end::Col-->
</div>

@section Scripts{
    <script src="~/lib/datatable/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/lib/datatable/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/moment/js/moment-with-locales.js"></script>
    <script src="~/lib/daterangepicker/js/daterangepicker.js"></script>
    <script src="~/lib/es6-shim/dist/es6-shim.min.js"></script>
    <script src="~/lib/formvalidation/dist/js/FormValidation.full.min.js"></script>

    <script src="~/js/Usuarios/smadot.index.js" asp-append-version="true"></script>
    <script src="~/js/Usuarios/smadot.edit.js" asp-append-version="true"></script>


}