<div class="modal fade" id="modal_alerta" tabindex="-1" role="dialog" aria-labelledby="generic_modal" aria-hidden="true">
    <div id="modalClass" class="modal-dialog modal-dialog-centered  modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding:10px">
                <h3 class="modal-title" id="modalLabelTitle"></h3>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close" id="btnCerrarAlerta">
                    <span class="svg-icon svg-icon-1">X</span>
                </div>
            </div>
            <div class="modal-body" style="padding:10px 3% 5px">
            </div>
            <div class="modal-footer" style="padding:10px">
                <button type="button" class="btn btn-light btn-sm font-weight-bold" data-bs-dismiss="modal" aria-label="Close" id="btnCerrarLinea">Cerrar</button>
                <button type="button" class="btn btn-primary btn-sm font-weight-bold" id="btnAtenderAlerta" data-tablename="">Atender</button>
                <button type="button" class="btn btn-secondary btn-sm font-weight-bold" id="btnRechazarIngresoManual" data-tablename="">Rechazar</button>
                <button type="button" class="btn btn-primary btn-sm font-weight-bold" id="btnAutorizarIngresoManual" data-tablename="">Aceptar</button>
            </div>
        </div>
    </div>
</div>