<div class="modal fade" id="modalNotificacionCalibracion" tabindex="-1" role="dialog" aria-labelledby="generic_modal" aria-hidden="true">
    <div id="modalClass" class="modal-dialog modal-dialog-centered  modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding:10px">
                <h3 class="modal-title" id="modalLabelTitle"></h3>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close" id="btnCancelarRegistro">
                    <span class="svg-icon svg-icon-1">X</span>
                </div>
            </div>
            <div class="modal-body" style="padding:10px 3% 5px">
            </div>
            <div class="modal-footer" style="padding:10px">
                <button type="button" class="btn btn-secondary btn-sm font-weight-bold" data-bs-dismiss="modal" aria-label="Close" id="btnCerrar">Cerrar</button>
                
                <button type="button" class="btn btn-success btn-sm font-weight-bold" id="btnValidar">Validar</button>
                <button type="button" class="btn btn-warning btn-sm font-weight-bold" id="btnRechazarDoc">Rechazar</button>

                <button type="button" class="btn btn-warning btn-sm font-weight-bold" id="btnAutorizar">Autorizar</button>
                <button type="button" class="btn btn-primary btn-sm font-weight-bold" id="btnRechazarSolic">Rechazar</button>
            </div>
        </div>
    </div>
</div>