<div class="modal fade" id="generic_modal_2" tabindex="-1" role="dialog" aria-labelledby="generic_modal" aria-hidden="true">
    <div id="modalClass2" class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    </div>
</div>