<div class="modal fade" id="generic_modal" tabindex="-1" role="dialog" aria-labelledby="generic_modal" aria-hidden="true">
    <div id="modalClass" class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable" role="document">
    </div>
</div>