@using Smadot.Models.Dicts;
@inject Smadot.Utilities.GestionTokens.IUserResolver UserResolver
@model Smadot.Models.Entities.Reposicion.Response.ReposicionResponseData.ReposicionResponse
<div class="btn-group dropup drop-up dropdown">
    <a href="javascript:;" class="btn btn-sm btn-secondary btn-text-primary btn-hover-primary btn-icon mr-2" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots"></i>
    </a>
    <ul class="dropdown-menu">
        <li><h6 class="dropdown-header">Selecciona una acción:</h6></li>
        @if (UserResolver.HasPermission(MenuReposiciones.Detalle))
        {
            <li class="btnDetalle" data-id="@Model.IdReposicion">
                <label class="dropdown-item">
                    <span class="navi-icon"><i class="bi bi-zoom-in"></i></span>
                    <span class="navi-text">Detalle</span>
                </label>
            </li>
        }
        @if (UserResolver.HasPermission(MenuReposiciones.GenerarCertificado))
        {
            <li class="btnGenerarCertificado" data-id="@Model.IdFoliosFormaValoradaVerificentro">
                <label class="dropdown-item">
                    <span class="navi-icon"><i class="bi bi-download"></i></span>
                    <span class="navi-text">Generar Certificado</span>
                </label>
            </li>
        }
        @if (UserResolver.HasPermission(MenuReposiciones.Eliminar))
        {
            <li>
                <a class="btnEliminar" data-id="@Model.IdFoliosFormaValoradaVerificentro">
                    <label class="dropdown-item">
                        <span class="navi-icon"><i class="bi bi-trash"></i></span>&nbsp;&nbsp;
                        <span class="navi-text">Eliminar Registro</span>
                    </label>
                </a>
            </li>
        }        
    </ul>
</div>