<div class='row mb-5 mt-5'>
    <form role='form' class='clearfix'>
		<div class="row align-items-end mb-5 mt-5">
			<div class="form-group input-group-sm col-md-6 offset-md-3">
				<input type="text" id="ConsultaPlacaSerie" name="ConsultaPlacaSerie" class="form-control" placeholder="Consulta de Placa/Serie">

			</div>
		</div>
    </form>
</div>
<div class="row DivListData" style="display:none" id="DivListData">
	<div class="form-group input-group-sm col-md-12">
		<h4>Datos de Verificación</h4>
	</div>
</div>
<div class="row DivListData" style="display:none">
	<div class="form-group input-group-sm col-md-12" id="ContentTable">
		
	</div>
</div>

<div class="row DivData" style="display:none">

</div>