@{
    Layout = "~/Views/Shared/_LayoutLoginSmadot.cshtml";
}

<!--begin::Form-->
<form class="form w-100" role="form" action="~/Autenticacion/Autorizacion" method="post" id="formAutenticacion">
    <!--begin::Heading-->
    <div class="text-center mb-11">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">Iniciar Sesión</h1>
        <!--end::Title-->
        <!--begin::Subtitle-->
        <div class="text-gray-500 fw-semibold fs-6">Ingresa tu usuario y contraseña</div>
        <!--end::Subtitle=-->
    </div>
    <!--begin::Heading-->
    <!--begin::Input group=-->
    <div class="fv-row mb-8">
        <!--begin::Email-->
        <input class="form-control bg-transparent" placeholder="Usuario" autocomplete="off" name="Usuario" id="Usuario" required>
        <!--end::Email-->
    </div>
    <!--end::Input group=-->
    <div class="fv-row mb-3">
        <!--begin::Password-->
        <input class="form-control bg-transparent" placeholder="Contraseña" type="password" name="Contrasenia" id="Contrasenia" required>
        <!--end::Password-->
    </div>
    <!--end::Input group=-->
    <div class="fv-row mb-3">
        <!--begin::Verificentro-->
        <select class="form-control bg-transparent select2" name="IdVerificentro" id="IdVerificentro" required></select>
        <!--end::Verificentro-->
    </div>
    <!--begin::Wrapper-->
    <div class="fv-row mb-3">
        <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-3" id="divAlerta">
            <!--begin::Icon-->
            <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
            <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"></rect>
                    <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"></rect>
                    <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"></rect>
                </svg>
            </span>
            <!--end::Svg Icon-->
            <!--end::Icon-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-stack flex-grow-1">
                <!--begin::Content-->
                <div class="fw-semibold">
                    <div class="fs-6 text-gray-700" id="divAlertaMsg">Usuario o contraseña incorrectos.</div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--begin::Link-->
        @*<a href="#" class="link-primary">¿Olvidaste tu contraseña?</a>*@
        <!--end::Link-->
    </div>
    <!--end::Wrapper-->
    <br />
    <!--begin::Submit button-->
    <div class="d-grid mb-10">
        <button type="submit" id="btnSesion" class="btn btn-primary">
            <!--begin::Indicator label-->
            <span class="indicator-label">Iniciar Sesión</span>
            <!--end::Indicator label-->
            <!--begin::Indicator progress-->
            <span class="indicator-progress">
                Espere un momento...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
            <!--end::Indicator progress-->
        </button>
    </div>
    <!--end::Submit button-->
</form>
<!--end::Form-->
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/js/Autenticacion/smadot.autenticacion.js" asp-append-version="true"></script>
}