<div class='row mb-5 mt-5'>
    <form role='form' class='clearfix'>
        <div class='row fv-row mb-5'>
            <div class='col-md-12'>
                <div class='form-group'>
                    <label for='name'>Mensaje: &nbsp;</label>
                    <textarea class='form-control' id='Mensaje' name="Mensaje" rows="20"></textarea>
                </div>
            </div>
        </div>    
    </form>    
</div>