@model Smadot.Models.Entities.Refrendo.Response.RefrendoAutocompleteResponse
@{
    ViewData["Title"] = "Registrar Constancia de Última Verificación";
    Layout = "~/Views/Shared/_LayoutSmadot.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/lib/datatable/dist/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/dist/jquery-ui.min.css" type="text/css" />
    <style>
        input:read-only {
            /*pointer-events: none;*/
            background: var(--kt-input-disabled-bg);
        }

        input:disabled {
            pointer-events: none;
        }

        .select2-container .select2-selection--single {
            height: 43px !important;
        }

        .tableCustom > tbody > tr:nth-child(4n+1) > td,
        .tableCustom > tbody > tr:nth-child(4n+2) > td {
            background-color: #fff;
        }

        .tableCustom > tbody > tr:nth-child(4n+3) > td,
        .tableCustom > tbody > tr:nth-child(4n+4) > td {
            background-color: #f9f9f9;
        }

        .ui-autocomplete {
            position: absolute;
            cursor: default;
            z-index: 99999 !important;
        }

        /*.tableCustom > thead > tr {
                    background-color: #f9f9f9;
                }*/
    </style>
}

@section breadcrumb{
    <li class="breadcrumb-item">
        <a href="#" class="text-muted text-hover-primary">Trámites</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item">
        <a href="#" class="text-muted text-hover-primary">Constancias</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item">
        <a asp-controller="ConstanciaUltimaVerificacion" asp-action="Index" class="text-muted text-hover-primary">Constancias de Última Verificación</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="active" aria-current="page"><a href="#">@ViewData["Title"]</a></li>
}

@section toolbar{
    <a class="btn btn-sm fw-bold btn-secondary" asp-controller="ConstanciaUltimaVerificacion" asp-action="Index">Cancelar</a>
  @*  @if (ViewBag.id == 0)
    {
        <button class="btn btn-sm fw-bold btn-primary d-none" type="button" id="btnGuardarRegistro">Guardar</button>
    }*@
    <button class="btn btn-sm fw-bold btn-primary d-none" type="button" id="btnGuardarRegistro">Guardar</button>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-flush h-lg-100">
            <div class="card-body pt-5">
                <div class="col-md-12">
                    <div class="form-group row">
                            @*<div class="col-md-3">
                                <label class="control-label" for="autocomplete">Tipo</label>
                                <select class="form-control form-control-solid form-select" id="tipoAutocomplete">
                                    <option value="Placa">Placa</option>
                                    <option value="Serie">Serie</option>
                                </select>
                            </div>*@
                        <div class="row align-items-end mb-5 mt-5">
                            <div class="form-group input-group-sm col-md-6 offset-md-3">
                                <input type="text" id="ConsultaPlacaSerie" name="ConsultaPlacaSerie" class="form-control" placeholder="Consulta de Placa/Serie">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row DivListData" style="display:none" id="DivListData">
                    <div class="form-group input-group-sm col-md-12">
                        <h4>Datos de Verificación</h4>
                    </div>
                </div>
                <div class="row DivListData" style="display:none">
                    <div class="form-group input-group-sm col-md-12" id="ContentTable">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var ViewBagId = '@ViewBag.id';
    </script>
    <script src="~/lib/datatable/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/moment/js/moment-with-locales.js"></script>
    <script src="~/lib/daterangepicker/js/daterangepicker.js"></script>
    <script src="~/lib/es6-shim/dist/es6-shim.min.js"></script>
    <script src="~/lib/formvalidation/dist/js/FormValidation.full.min.js"></script>
    <script src="~/lib/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="~/js/Tramite/ConstanciaUltimaVerificacion/smadot.edit.js" asp-append-version="true"></script>
}