@using System.Globalization;

@{
    //ViewBag.Title = "Acreditación de Técnicos Verificadores";
    ViewBag.Title = "Portal Citas";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

@section styles {
    @*<link rel="stylesheet" href="~/lib/datatable/dist/css/dataTables.bootstrap4.min.css" />*@
    <link rel="stylesheet" href="~/lib/tempus-dominus/css/tempus-dominus.css" />
    <style>
    </style>
}


<h1>@ViewBag.MensajeCitaConfirmada</h1>

